@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7UG2tuXarqvGRTq26eYUBKFeV7-LIBnjE4A&s");
  text-align: center;
  margin: auto;
   font-family: "Poetsen One", serif;
}

h1{
  font-size: 30px;
  color: hotpink;
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid hotpink;
}



